<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Danny Sabra's Portfolio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/static/img/icon.png">

    <!-- Plugins -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/plugins.css">

    <!-- Style Css -->
    <link rel="stylesheet" href="/static/style.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/static/css/custom.css">
</head>

<body class="template-color-37 template-font-1">

    <!-- Wrapper -->
    <div id="wrapper" class="wrapper">

        <!-- Header -->
        <header class="br_header header-default position-from--top black-logo--version haeder-fixed-width haeder-fixed-150 headroom--sticky header-mega-menu clearfix">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="header__wrapper mr--0">
                            <!-- Header Left -->
                            <div class="header-left">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="/static/img/logo/bently-black.png" alt="bently Images">
                                    </a>
                                </div>
                            </div>
                            <!-- Mainmenu Wrap -->
                            <div class="mainmenu-wrapper d-none d-lg-block">
                                <nav class="page_nav">
                                    <ul class="mainmenu">

                                        <li class="lavel-1"><a href="index.html"><span>Home</span></a></li>

                                        
                                        <li class="lavel-1"><a href="#portfolio"><span>Portfolio</span></a></li>

                                        <li class="lavel-1"><a href="contact.html"><span>Contact </span></a></li>

                                       
                                    </ul>
                                </nav>
                            </div>
                            <!-- Header Right -->
                            <div class="header-right">
                                
                                <!-- Start Popup Search Wrap -->
                              
                                <!-- End Popup Search Wrap -->

                                <!-- Start Hamberger -->
                                <div class="manu-hamber popup-mobile-click d-block d-lg-none black-version d-block d-xl-none">
                                    <div>
                                        <i></i>
                                    </div>
                                </div>
                                <!-- End Hamberger -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--// Header -->

    

        <!-- Start Popup Menu -->
        <div class="popup-mobile-manu popup-mobile-visiable">
            <div class="inner">
                <div class="mobileheader">
                    <div class="logo">
                        <a href="index.html">
                            <img src="/static/img/logo/bently-black.png" alt="Multipurpose">
                        </a>
                    </div>
                    <a class="mobile-close" href="#"></a>
                </div>
                <div class="menu-content">
                    <ul class="menulist object-custom-menu">
                         <li class="lavel-1"><a href="index.html"><span>Home</span></a></li>

                                        
                           <li class="lavel-1"><a href="#portfolio"><span>Portfolio</span></a></li>

                           <li class="lavel-1"><a href="contact.html"><span>Contact </span></a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Popup Menu -->

  

        <!-- Start Breadcaump Area -->
        <div class="bently-breadcaump-area pt--395 pt_lg--250 pt_md--220 pt_sm--200 pb--345 pb_lg--200 pb_md--200 pb_sm--180 bg_image--6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcaump-inner text-center">
                            <h2 class="heading heading-h2 text-white">Hi! I'm  <br>Danny Sabra, <br> Python Developer.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcaump Area -->

        <!-- Page Content -->
        <main class="page-content">

            <!-- Start Portfolio Details -->
            <div class="bently-portfolio-details bg_color--1">
                <div class="container">
                    <div class="row pt--100 pb--80">

                        <!-- Portfolio Left -->
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="portfolio-left bk-portfolio-details wow move-up">
                                <div class="portfolio-main-info">
                                    <h5 class="heading heading-h5 yellow-color-2">ABOUT ME</h5>
                                    <div class="title-separator w--80 color-red"></div>
                                    <!-- Start Details List -->
                                    <div class="portfolio-details-list mt--60">

                                        <div class="details-list">
                                            <label>Location</label>
                                            <span>San Diego, CA</span>
                                        </div>

                                        <div class="details-list">
                                            <label>Status</label>
                                            <span>Freelance</span>
                                        </div>

                                        <div class="details-list">
                                            <label>Categories</label>
                                            <span>Web Development, Data</span>
                                        </div>

                                        <div class="details-list">
                                            <label>Skills:</label>
                                            <span>Python, Flask, HTML</span>
                                        </div>

                                    </div>
                                    <!-- End Details List -->
                                    <!-- Start Portfolio Share -->
                                   
                                </div>
                            </div>
                        </div>

                        <!-- Portfolio Right -->
                        <div class="col-lg-7 col-md-6 offset-lg-1 col-12">
                            <div class="portfolio-left bk-portfolio-details mt_sm--30">
                                <div class="portfolio-main-info">
                                    <div class="portfolio-content">
                                        <h6 class="heading heading-h6 wow move-up">MORE</h6>

                                        <div class="desc mt--40">
                                            <div class="content mb--25 wow move-up">
                                                <p class="bk_pra">Insert About me here.</p>
                                            </div>
                                            <div class="content mb--25 wow move-up">
                                                <p class="bk_pra">Block of text</p>
                                            </div>
                                            <div class="content mb--65 wow move-up">
                                                <p class="bk_pra">Last block of text if necessary.</p>
                                            </div>

                                            <div class="portfolio-btn">
                                                <a class="bently-btn bk-btn-theme btn-sd-size btn-rounded space-between"
                                                    href="#">Go to link</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Portfolio Details -->

<!-- Start Testimonial Area -->
            <div class="bently-testimonial-area poss_relative ptb--200 ptb-md--80 ptb-sm--60 bg_color--5" id="portfolio">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-12 text-center ptb-md--80 ptb-sm--80">
                            <div class="bently-section-title text-left title-max-width plr_sm--50">
                                <h3 class="heading heading-h3">Projects</h3>
                            </div>
                        </div>

                        <div class="col-lg-8 col-md-12 col-12">
                            <div class="row">
                                <!-- Start Single Testimonial -->
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="testimonial testimonial_style--1">
                                        <a href="#">
                                        <div class="inner">
                                    <div class="icon"><img alt="icon box" src="/static/img/service/icon-1.jpg"></div>
                                    <div class="content">
                                        <h5 class="heading heading-h5 yellow-color-2"><br>Lakers Hub</h5>
                                        
                                        <p class="bk_pra"><br>Central hub to show previous game/season stats of the Los Angeles Lakers</p></a><a class="icon-btn color-red" href="https://github.com/dsabra/passwordchecker"><div class="testimonial-quote">
                                                <span class="fas fa-arrow-right"></span></a>
                                            </div>
                                    </div>
                                
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Testimonial -->

                                <!-- Start Single Testimonial -->
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt_sm--30">
                                     <div class="testimonial testimonial_style--1">
                                        <a href="https://github.com/dsabra/passwordchecker">
                                        <div class="inner">
                                     <div class="icon"><img alt="icon box" src="/static/img/service/icon-2.jpg"></div>
                                    <div class="content">
                                        <h5 class="heading heading-h5 yellow-color-2"><br>Password Checker</h5>
                                        
                                        <p class="bk_pra"><br>A tool to see if your password has been exposed in data breaches.</p></a><a class="icon-btn color-red" href="https://github.com/dsabra/passwordchecker"><div class="testimonial-quote">
                                                <span class="fas fa-arrow-right"></span></a>
                                            </div>
                                    </div>
                                
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Testimonial -->

                                <!-- Start Single Testimonial -->
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt--30">
                                     <div class="testimonial testimonial_style--1">
                                        <a href="https://github.com/dsabra/portfolio">
                                        <div class="inner">
                                    <div class="icon"><img alt="icon box" src="/static/img/service/icon-3.jpg"></div>
                                    <div class="content">
                                        <h5 class="heading heading-h5 yellow-color-2"><br>Portfolio</h5>
                                        
                                        <p class="bk_pra"><br>Server created using Flask.</p></a><a class="icon-btn color-red" href="https://github.com/dsabra/portfolio"><div class="testimonial-quote">
                                                <span class="fas fa-arrow-right"></span></a>
                                            </div>
                                    </div>
                                
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Testimonial -->


                                <!-- Start Single Testimonial -->
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt--30">
                                     <div class="testimonial testimonial_style--1">
                                        <a href="#">
                                        <div class="inner">
                                    <div class="icon"><img alt="icon box" src="/static/img/service/icon-4.jpg"></div>
                                    <div class="content">
                                        <h5 class="heading heading-h5 yellow-color-2"><br>Project 4</h5>
                                        
                                        <p class="bk_pra"><br>Project 4 information goes here.</p></a><a class="icon-btn color-red" href="#"><div class="testimonial-quote">
                                                <span class="fas fa-arrow-right"></span></a>
                                            </div>
                                    </div>
                                
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Testimonial -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Testimonial Area -->

             <!-- Start Call To Action -->
            <div class="bently-call-to-action bg_image--10 ptb--120 ptb-md--80 ptb-sm--60" data-overlay="8">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-12">
                            <div class="call-content vertical-call-toaction text-center">
                                <h3 class="heading heading-h3 text-white wow move-up">Start working together?</h3>
                                <div class="spacing"></div>
                                <div class="call-btn text-center wow move-up">
                                    <a class="bently-btn bk-btn-white text-theme btn-sd-size btn-rounded" href="contact.html">Contact Me</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Call To Action -->                
                            <!-- Portfolio Nav List -->
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <!--// Page Conttent -->
    </div>

		<!-- Footer -->
		<footer class="page-footer bg_color--7 pl--150 pr--150 pl_lg--30 pr_lg--30 pl_md--30 pr_md--30 pl_sm--5 pr_sm--5" id="bk-footer">
			<!-- Start Footer Top Area -->
			<div class="bk-footer-inner pt--150 pb--30 pt_sm--100">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-6 col-12">
							<div class="footer-widget text-var--2">
								<div class="logo">
									<a href="index.html"><img alt="bently white" src="/static/img/logo/bently-white.png"></a>
								</div>
								<div class="footer-inner">
									<p><!-- Insert text needed here --> </p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-6 col-sm-6 col-12 mt_mobile--40">
							
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-12 mt_md--40 mt_sm--40">
							
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-12 mt_md--40 mt_sm--40">
							<div class="footer-widget text-var--2 menu--contact">
								<h2 class="widgettitle">Contact</h2>
								<div class="footer-address">
							
									<div class="social-share social--transparent text-white">
										<a href="mailto:dsabra@gmail.com"><i class="far fa-envelope"></i></a>  <a href="https://github.com/dsabra"><i class="fab fa-github" aria-hidden="true"></i></a> <a href="https://www.linkedin.com/in/danny-sabra-085ba2211/"><i class="fab fa-linkedin-in"></i></a>
									</div>
								</div>
							</div>
								
							
						</div>
					</div>
				</div>
			</div><!-- Start Footer Top Area -->
			<!-- Start Copyright Area -->
			<div class="copyright ptb--50 text-var-2">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 col-md-6 col-sm-12 col-12">
							<div class="copyright-left text-md-left text-center">
								<ul class="bk-copyright-menu d-flex bk-hover justify-content-center justify-content-md-start flex-wrap flex-sm-nowrap">
									
									<li>
										<!-- TEXT CAN GO HERE FOR BOTTOM LEFT IF NEEDE-->
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-12">
							<div class="copyright-right text-md-right text-center">
								<p>© 2020 <a href="https://designseer.com/">Bently</a>. All Rights Reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</div><!-- End Copyright Area -->
		</footer><!--// Footer -->
	</div><!--// Wrapper -->
	<!-- Js Files -->
	<script src="/static/js/vendor/modernizr-3.6.0.min.js">
	</script> 
	<script src="/static/js/vendor/jquery.min.js">
	</script> 
	<script src="/static/js/popper.min.js">
	</script> 
	<script src="/static/js/bootstrap.min.js">
	</script> 
	<script src="/static/js/plugins.js">
	</script> 
	<script src="/static/js/main.js">
	</script> 
</body>
</html>